// $primary: #e72e2e;
$primary: #f95122;
$container-max-widths: (
  sm: 540px,
  md: 704px,
  lg: 924px,
  xl: 1240px,
  xxl: 1464px,
);
* {
  margin: 0;
  padding: 0;
}

// Required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '~bootstrap/scss/bootstrap';
